body {
  margin: 100px auto;
  font-family: 'Barlow', sans-serif;
  padding: 98px;
}

.header-container {
  position: absolute;
  top: 20px;
  left: 98px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding: 0;
}

.card {
    margin: auto;
    padding: 1em;
}

.card-content {
    line-height: 0;
}
